/*** PFX Styling ***/
@import "../../App.scss";

.instream{
  .thumbs{
    position: relative;

    img{
      width:100%
    }
    video{
      width:95%;
    }

    .play-btn{
      position: absolute;
      z-index:10;
      width: 150px;
      height:40px;
      border-radius:10px;
      border: 1px solid #008000;
      background-color: rgba(255,255,255,0.8);
      color:#008000;
      font-size:1rem;
      text-align: center;
      margin:auto;
      left:0;
      right:0;
      top:0;
      bottom:0;
      opacity:0.8;
      display: none;
    }
  }

  .title{
    width:60%;
    margin:1rem auto 2rem;
    padding:1.7rem;
    box-shadow: 0px 13px 11px -8px rgba(51,51,0,0.3);
    border-radius:0.5rem;

    .heading {
      font-size:1.3rem;
      color:#008000;
      span {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 2em;
        padding-left: 0.25em;
        color: rgba(0, 0, 0, 0.4);
        padding-bottom: 10px;
      }
    }
  } 
 
}

/** Mobile site **/
main.mobile-view{
  .ad-filter{
    .title{
      width:100%;
    }

    .demo-btn{
      margin:auto;
      width:50%;
      display: flex;
      justify-content: center;
    }
  }
}