@import "../../App.scss";

.filter-container {
  position: fixed;
  margin-top: -$filter-bar-top !important;
  background-color: #fff;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
  padding: 20px 30px !important;
  width: calc(100% - 280px);
  overflow: hidden;
  height: 25px;

  &.expand {
    overflow: inherit;
    height: auto;
    .filter-option-box {
      margin-top: 10px;
    }
  }
  label {
    font-size: 14px;
    margin-bottom: 30px;
  }

  button {
    width: 150px;
    padding: 0.7em;
    border: 0;
    border-radius: 1em;
    box-sizing: border-box;
    font-weight: 300;
    color: #fff;
    background-color: #62c7ed;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }
  .bg {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
    padding: 20px 30px !important;
    margin-right: 0;
    margin-left: 0;
  }
  .filter-option-box {
    margin-top: 40px;

    .filter-option {
      cursor: pointer;
      font-size: 12px;
      padding: 5px;
      border-radius: 10px;
      border: #1e9a4b 1px solid;
      text-align: center;
      margin: 5px 0;
    }
  }

  .checked {
    background-color: #62c7ed;
    color: #fff;
  }
}
