body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
  overflow: hidden;
  color: #3c3c3c;
}

button {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.large-icon {
  font-size: 2rem;
}

.icon-text-size {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

h5 {
  font-size: 1rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.hide {
  display: none;
  opacity: 0;
}

.show {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
}

.text-lightGrey {
  color: #6c757d;
}

/*** PFX Styling ***/
main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

div.main.content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 250px);
  height: 100vh;
}

div.content-bottom {
  padding-top: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.btn {
  font-size: 15px;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  color: #ffffff;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #52c27a;
}

.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #52c27a;
  color: #3c3c3c;
}

.btn.btn-inactive {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
  color: #3c3c3c;
}

.alert-box {
  padding: 2rem 1rem;
  border: 1px solid #52c27a;
  width: 100%;
  text-align: center;
}

.coming-container {
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.coming-container h1 {
  display: block;
  font-size: 5rem;
  font-weight: normal;
  color: #52c27a;
}

.coming-lion {
  height: 40%;
  width: 27%;
  margin: auto;
  stroke: #52c27a;
  stroke-width: 8px;
  fill: transparent;
  stroke-dashoffset: 0;
  stroke-dasharray: 3350;
  -webkit-animation: lion-animation 5s 5;
          animation: lion-animation 5s 5;
}

@-webkit-keyframes lion-animation {
  0% {
    stroke-dashoffset: -3350;
  }
  35% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -3350;
  }
}

@keyframes lion-animation {
  0% {
    stroke-dashoffset: -3350;
  }
  35% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -3350;
  }
}

main.mobile-view .main.content-right {
  width: 100%;
}

main.mobile-view .filter-container {
  width: calc(100% - 40px);
}

div.main.content-right.expand {
  width: calc(100% - 250px);
}

/** Mobile **/
.mobile-view .filter-container {
  width: calc(100% - 250px);
  padding: 20px;
  background: linear-gradient(155deg, #62c7ed 10%, #1e9a4b 100%);
}

.mobile-view .filter-container.expand {
  background: #fff;
}

.mobile-view .filter-container .mobile-logo {
  text-align: center;
  display: block;
}

.mobile-view .filter-container .mobile-logo .logo {
  margin-top: -15px;
  width: 38%;
  height: auto;
}

.mobile-view .mobile-hide {
  display: none;
}

.mobile-view .filter-container .mobile-menu {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 1.1rem;
}

.mobile-view .filter-container.expand {
  height: 90%;
}

.mobile-view .mobile-filter {
  text-align: right;
}

.filter-container {
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
  padding: 20px 30px;
  width: calc(100% - 250px);
  overflow: hidden;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.filter-container .mobile-logo {
  display: none;
}

.filter-container .mobile-menu {
  display: none;
}

.filter-container.expand {
  overflow: inherit;
  height: 25%;
}

.filter-container.expand .filter-option-box {
  margin-top: 10px;
}

.filter-container label {
  font-size: 14px;
  margin-bottom: 30px;
}

.filter-container button {
  width: 120px;
  padding: 0.5em;
  border: 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  color: #fff;
  background-color: #5cc381;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  margin: 1rem 0.5rem;
}

.filter-container .bg {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
  padding: 20px 30px !important;
  margin-right: 0;
  margin-left: 0;
}

.filter-container .filter-option-box {
  margin-top: 40px;
}

.filter-container .filter-option-box .filter-option {
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  border: #1e9a4b 1px solid;
  text-align: center;
  margin: 5px 0;
}

.filter-container .checked {
  background-color: #6bc4e6;
  color: #fff;
}
/*# sourceMappingURL=filterBarComponent.css.map */